<div class="container">
    <div class="section row">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Got a talk idea? We want to see it!</h3>
            <p>
                200 OK aims to connect professional web developers in our region with great speakers on the latest and greatest web technology.

                A major theme of <a href="http://techlahoma.org/" target="_blank">Techlahoma</a> & the <a href="http://200ok.us/" target="_blank">200 OK</a> event is that the web enables innovation to happen anywhere - we use the same software development tools & practices as devs in Silicon Valley, and we can make and distribute software that reaches just as many people as the biggest software unicorns in the industry.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">Speaker Package</h3>
            <p>
                We are recruiting speakers from our region and beyond - from big web vendors to local business and companies doing their own exciting things with web technology.

                We have opportunities for you to give a 5-minute lightning talk, or a 40-minute full-length talk.

                We really want to hear about the cool things you're doing with the web. In appreciation of your efforts, our speaker compensation package includes:

                <p><a href="{{ url('speaker_package') }}">View Full Speaker Package</a></p>
            </p>
        </div>
    </div>
</div>

<section class="section section--primary">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">Diversity Matters!</h2>
        <p>
            {{ site.title }} is committed to creating a conference that is as inclusive as possible.
            We want to showcase talent available around the U.S. and welcome international submissions as well.
        </p>
        <p>
            We are also committed to ensuring the conference is a place
            where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
            is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
            professional and courteous to each other. We reserve the right to remove, without refund,
            ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
        </p>
    </div>
</section>
